/* nice workbench font */
.windows,
.linux {
   font-family: Roboto, Inter, system-ui;
}

/* when i use bigger font sizes the documentation window becomes unreadable :3 */
.hover-contents,
.code-hover-contents {
   font-size: 18px !important;
}

 /* rounded corners for cursor */
.monaco-editor .cursors-layer .cursor {
   border-radius: 0px;
}

/* rounded corners for notifications, widgets and suggestion popups */
.monaco-editor .suggest-widget,
.suggest-details,
.monaco-hover,
.editor-widget {
   padding: 5px;
   border-radius: 10px;
   box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

/* no rounding for find widget */
.find-widget {
   border-radius: 0px;
}

/* rounded scroll sliders */
.monaco-editor .monaco-list-row,
.slider {
   border-radius: 4px;
}
